<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="services" version="2.5">
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID" version="3.0"> 
 
  <display-name>Chasemaster</display-name>

  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.chasemaster.web.ControllerServlet</servlet-class>

    <!-- Game settings -->
    <!-- Number of players of blaack group -->
    <init-param>
      <param-name>playersNum</param-name>
      <param-value>2</param-value>
    </init-param>
    <!-- Duration for login (in minutes). 0 means immediate -->
    <init-param>
      <param-name>loginDuration</param-name>
      <param-value>1</param-value>
    </init-param>    
    <!-- Game administrator -->
    <init-param>
      <param-name>adminUsername</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>adminPassword</param-name>
      <param-value>admin</param-value>
    </init-param>    
    <!-- MySQL RDBMS -->
    <init-param>
      <param-name>jdbcDriverClassName</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>dbURL</param-name>
      <param-value>jdbc:mysql://localhost:3306/chasemaster</param-value>
      <!-- param-value>jdbc:mysql://localhost/chasemaster</param-value -->
    </init-param>
    <init-param>
      <param-name>dbUsername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>dbPassword</param-name>
      <param-value>admin</param-value>
    </init-param>
    <!-- DAO implementation -->
    <init-param>
      <param-name>authDAOClassName</param-name>
      <param-value>com.chasemaster.persistence.db.mysql.AuthenticationDAOImpl</param-value>
    </init-param>
    <init-param>
      <param-name>playerDAOClassName</param-name>
      <param-value>com.chasemaster.persistence.db.mysql.PlayerDAOImpl</param-value>
    </init-param>
   <init-param>
      <param-name>matchDAOClassName</param-name>
      <param-value>com.chasemaster.persistence.db.mysql.MatchDAOImpl</param-value>
    </init-param>
    <init-param>
      <param-name>turnDAOClassName</param-name>
      <param-value>com.chasemaster.persistence.db.mysql.TurnDAOImpl</param-value>
    </init-param>
    <init-param>
      <param-name>movementDAOClassName</param-name>
      <param-value>com.chasemaster.persistence.db.mysql.MovementDAOImpl</param-value>
    </init-param>
    
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>com.chasemaster.web.GameServlet</servlet-class>

    <async-supported>true</async-supported>    
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/Game</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>redirect.jsp</welcome-file>
  </welcome-file-list>
</web-app>